<ion-header>
  <ion-navbar color="danger">
    <ion-title>
      Archive
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-content>
    <ion-list>
      <ion-item-sliding *ngFor="let category of entries  ">
        <ion-item>

          <ion-label>
            <h2>{{category.title}}</h2>
          </ion-label>
        </ion-item>

          <ion-item *ngFor="let e of category.entries">
            <ion-thumbnail item-left>
              <img *ngIf="e.image!=''" src="{{e.image}}"/>
              <img *ngIf="e.image==''" src="{{category.categoryImage}}"/>
            </ion-thumbnail>
            <ion-label>
              <h2>{{e.title}}</h2>
              <p>{{e.description}}</p>
            </ion-label>
            <ion-checkbox clear item-right color="blue" checked="{{e.status}}"></ion-checkbox>
          </ion-item>


      </ion-item-sliding>
    </ion-list>
  </ion-content>

